<!DOCTYPE html>
<html lang="is">
    <head>
        <meta charset="utf-8">
        <title>xxx</title>
        <link rel="stylesheet" href="/public/styles.css">
    </head>

    <body>
        <header class="header">
            <h1 class="header_title">xxx</h1>
        </header>
        <main>